@inherits CodeProblemDisplayBase



<div class="d-flex flex-column align-items-center justify-content-center border p-3 rounded">
    <div class="text-center mb-3">
        <h3>@Problem.Description</h3>
    </div>

    <div class="monaco-editor-container">
        <MonacoEditor @ref="MonacoEditorReference" InitCode="@Problem.Example" />
    </div>
</div>

<style>
    .monaco-editor-container {
        width: 80%; /* 에디터의 너비를 원하는 값으로 조정하세요 */
    }
</style>

@code {
    private MonacoEditor? MonacoEditorReference;

    public async Task<string> GetCode() {
        if (MonacoEditorReference != null) {
            return await MonacoEditorReference.editor.GetValue();
        }
        else return "";
    }
}
