@inherits ShortAnswerDisplayBase
<div class="d-flex flex-column align-items-center justify-content-center border p-3 rounded">
    <h3>@Problem.Description</h3>
    <div class="form-group text-center">
        <textarea class="form-control" style="height: 40vw; min-height: 300px; width: 60vw; min-width: 200px;" @bind="Problem.StudentAnswer" />
    </div>
</div>
