@page "/classroom/{roomid:int}/practice/{practiceid:int}/submitresult"
@*todo : 
    수강생 id도 받아야함 주소 자체에 id 추가해야하나?
    그렇게 되면 해당 실습id와 제출자id를 이용해 DB에서 꺼내서 보여줌 
    코드나 조언 확인 누르면 새창떠서 코드나 조언결과 보여줌
*@
<h3>제출 내역</h3>


<table class="table">
    <thead>
        <tr>
            <th>제출번호</th>
            <th>결과</th>
            <th>메모리</th>
            <th>시간</th>
            <th>언어</th>
            <th>제출시간</th>
            <th>코드확인</th>
            <th>GPT조언</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>맞았음</td>
            <td>214KB</td>
            <td>0ms</td>
            <td>C</td>
            <td>2023.4.16 14:20</td>
            <td><a href="#">코드확인</a></td>
            <td><a href="#">조언확인</a></td>
        </tr>
    </tbody>
</table>

@code {
    [Parameter]
    public int RoomId { get; set; }
    [Parameter]
    public int PracticeId { get; set; }

}
