@page "/{year:int}/{semester:int}/{number:int}/classroom/announcement/{id:int}"
@layout MainLayout
@inject NavigationManager NavigationManager
@using ClassHub.Client.Models

<div style="min-height: 100vh;">
	<div class="d-flex flex-column justify-content-between">
		<div>
			<h1>@announcement.Title</h1>
			<hr />
			<p>작성자: @announcement.Author</p>
			<hr />
			<p>게시일: @announcement.StartDate.ToString("yyyy.MM.dd tt hh:mm")</p>
			<hr />
			<div>@((MarkupString)announcement.Content)</div> <!--보안에 취약?-->
			<hr />
		</div>
		<div class="d-flex justify-content-end pb-3 pr-3">
			<button class="btn btn-primary" @onclick="GoBack">목록</button>
		</div>
	</div>
</div>


@code {
		[Parameter]
		public int Year { get; set; }
		[Parameter]
		public int Semester { get; set; }
		[Parameter]
		public int Number { get; set; }
		[Parameter]
		public int Id { get; set; }

	// TODO: 공지사항을 불러옵니다
	private Announcement announcement;

	private void GoBack() // 목록으로 돌아가는 클래스
	{
		NavigationManager.NavigateTo(NavigationManager.Uri.Substring(0, NavigationManager.Uri.LastIndexOf("/")));
	}

	protected override async Task OnInitializedAsync()
	{
		// 실제 프로젝트에서는 서버로부터 데이터를 가져옴
		var announcements = new List<Announcement>
		{
			new Announcement { Id = 1, Title = "캡스톤 실험실습비 사용 절차", Content = @"<div>
    <p>1. 필요한 구매 내용을 요청 (첨부 excel 파일 참조)</p>
    <ul>
        <li>구매 가능 물품: SW(클라우드나 API 사용료 포함) 또는 재료비(소모성 물품)</li>
    </ul>
    <p>처리 절차:</p>
    <p>excel 파일에 구매 요청 물품을 저에게 mkcho@mju.ac.kr</a> 이메일로 주세요</p>
    <p>제가 검토 후 문제가 없는 경우 학과사무실 김은주 선생님이 구매를 진행 (필요시 SW의 경우 웹에서 바로 구매가 가능한 경우는 과사로 찾아가셔서 결제 진행)</p>
    <p>저희 수업에 할당된 총금액은 50만원입니다.</p>
</div>" , Author = "조민경", StartDate = new DateTime(2023,03,03,09,02,0)},
			new Announcement { Id = 2, Title = "보고서 제출 마감일과 발표 일정(안) (수정 : 3.29)", Content = "내용 2", Author = "조민경", StartDate = new DateTime(2023,03,03,10,42,0)},
			new Announcement { Id = 3, Title = "개념설계보고 발표 관련", Content = "내용 3", Author = "조민경", StartDate = new DateTime(2023,03,24,10,30,0)},
			new Announcement { Id = 4, Title = "4/3 (월요일 13시~) 팀별 미팅 일정 (장소 : 강의실 Y5441)", Content = "내용 4", Author = "조민경", StartDate = new DateTime(2023,03,29,11,44,0)}
		};
		announcement = announcements.FirstOrDefault(a => a.Id == Id);

	}

}
