@page "/{year:int}/{semester:int}/{number:int}/classroom/attendance"
@layout MainLayout

<h3>AttendancePage</h3>

@code {
    [Parameter]
    public int Year { get; set; }
    [Parameter]
    public int Semester { get; set; }
    [Parameter]
    public int Number { get; set; }
}
