@page "/classroom/{id:int}"
@layout MainLayout
@using ClassHub.Shared
@inject HttpClient Http
<!--Role 테스트용 AuthView-->
<AuthorizeView Roles="student">
    <Authorized>
        <h1>어서와 학생</h1>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="professor">
    <Authorized>
        <h1>교수님 어서오세요</h1>
    </Authorized>
</AuthorizeView>
@if(classRoom == null) {
    <p><em>강의실 정보를 로딩 중입니다...</em></p>
} else {
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-12">
                <AttendanceStatusVertical MaxCount="2" />
            </div>
            <div class="col-lg-3 col-12">
                <div class="row">
                    <h3 class="text-center col-12">공지사항</h3>
                    <div class="col-12 border mb-3" style="overflow: auto; max-height: 460px;">
                        <ul class="list-group">
                            @for(int i = 1; i <= 20; i++) {
                                <li class="list-group-item">공지사항 @i</li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <h3 class="text-center col-12">질의응답</h3>
                    <div class="col-12 border" style="overflow: auto; max-height: 260px;">
                        <ul class="list-group">
                            @for(int i = 1; i <= 12; i++) {
                                <li class="list-group-item">질의응답 @i</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private ClassRoom? classRoom;

    protected async override void OnInitialized() {
        // RoomId와 매칭되는 강의실의 정보를 가져옵니다.
        classRoom = await Http.GetFromJsonAsync<ClassRoom>($"api/classroom/{Id}");
        StateHasChanged();
    }
}