@page "/judgetest"
@using ClassHub.Shared
@using System.Net.Http
@using System.Text.Json
@using System.Text
@inject HttpClient httpClient
@inject HttpClient Http

<h3>JudgeTest</h3>

<button class="btn btn-primary" @onclick="Test">Click me</button>
<div id="output-number">
    <h3>@Output</h3>
</div>
@code {
    private string Output = "";
    // private GradingRequest request;
    //private GradingResult result;
    private async Task Test()
    {

        // 임시 제출 예제 생성
        JudgeRequest request = new JudgeRequest();
        request.TaskId = "1";
        request.Language = "java";
        request.Code = "import java.util.Scanner;\n\n"
            + "public class Main {\n"
            + "    public static void main(String[] args) {\n"
            + "        Scanner scanner = new Scanner(System.in);\n"
            + "        int num1 = scanner.nextInt();\n"
            + "        int num2 = scanner.nextInt();\n"
            + "        int result = num1+num2;\n"
            + "        System.out.println(result);\n"
            + "        scanner.close();\n"
            + "    }\n"
            + "}";

        // 직렬화
        var content = new StringContent(JsonSerializer.Serialize(request), Encoding.UTF8, "application/json");

        // 전송
        HttpResponseMessage response = await httpClient.PostAsync("Judge", content);


        // 통신 성공 여부에 따라 구분
        if (response.IsSuccessStatusCode)
        {
            JudgeResult? judgeData = await response.Content.ReadFromJsonAsync<JudgeResult>();

            // Correct로 구분
            if (judgeData.IsCorrect == true) { Output = "맞았습니다!"; }
            else 
            {
                // 컴파일 에러
                if (judgeData.CompileErrorMsg != null)
                {

                    Output = "컴파일 에러" + judgeData.CompileErrorMsg;;
                }

                // 런타임 에러
                else if (judgeData.RuntimeErrorMsg != null)
                {
                    Output = "런타임 에러" + judgeData.RuntimeErrorMsg;
                }

                // 메모리 초과
                else if (judgeData.IsExceedMemory)
                {
                    Output = "메모리 초과";
                }

                // 시간 초과
                else if (judgeData.IsTimeOut)
                {
                    Output = "시간 초과";
                }

                // 오답
                else
                {
                    Output = "틀렸습니다.";
                }
            }
        }
        else
        {
            Console.WriteLine( "Error in Judge server");
        }
            
    }
}
