@page "/{year:int}/{semester:int}/{number:int}/classroom/practice"
@layout MainLayout
@using ClassHub.Shared
@using System.Text.Json
@using System.Text
@inject HttpClient Http

<h3>Practice</h3>
<MonacoEditor @ref="MonacoEditorReference" />

<!--채점 서버로 요청을 보내는 버튼-->
<button class="btn btn-primary" @onclick="SubmitCode">코드 제출</button>

<div id="output-number">
    <h3>결과: @Output</h3>
</div>

@code {
    [Parameter]
    public int Year { get; set; }
    [Parameter]
    public int Semester { get; set; }
    [Parameter]
    public int Number { get; set; }

    // 채점 결과를 표시할 변수
    private string Output = "";

    // MonacoEditor 컴포넌트 참조 변수
    private MonacoEditor? MonacoEditorReference;

    // 채점 서버로 요청을 보냄
    private async Task SubmitCode() {
        
    }
}