@page "/classroom/{RoomId:int}/statistics"
@layout MainLayout
@using ClassHub.Shared;
@inject HttpClient Http

@if(studentList == null) {
    <LoadingBar />
} else {
    <table>
        <thead>
            <tr>
                <th>학생</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var student in studentList) {
                <tr>
                    <td>@student.name (@student.student_id)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public int RoomId { get; set; }

    private List<Student>? studentList;

    protected override async Task OnInitializedAsync() {
        studentList = await Http.GetFromJsonAsync<List<Student>>($"api/classroom/students?room_id={RoomId}");
    }
}
