@page "/classroom/{classroomid:int}/notice"
@layout MainLayout
@inject HttpClient Http
@using ClassHub.Shared
@using ClassHub.Client.Models

@if(contents == null) {
    <div class="d-flex justify-content-center mt-5">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status" />
    </div>
} else {
    <Board Title="공지사항" Contents="@contents" />
}

@code {
    [Parameter]
    public int ClassRoomId { get; set; }

    private List<BoardContent> contents;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var notices = await Http.GetFromJsonAsync<List<Notice>>($"api/notice/{ClassRoomId}");
        if (notices != null)
        {
            contents = new List<BoardContent>();
            foreach (var notice in notices)
            {
                this.contents.Add(new NoticeContent()
                {
                    room_id = notice.room_id,
                    content_id = notice.notice_id,
                    title = notice.title,
                    author = notice.author,
                    contents = notice.contents,
                    publish_date = notice.publish_date,
                    up_date = notice.up_date,
                    view_count = notice.view_count
                });
            }
        }
    }
}


