@page "/classroom/{roomid:int}/lecturematerial/{noticeid:int}/edit"
@layout MainLayout
@using ClassHub.Shared
@using ClassHub.Client.Shared.LectureMaterial

<AuthorizeView Roles="professor">
	@if (noticeId == 0)
	{
		<h3>새 강의자료 작성</h3>
	}
	else
	{
		<h3>강의자료 수정</h3>
	}

	<LectureMaterialEditor id="noticeId" />
</AuthorizeView>

@code {
	[Parameter]
	public int RoomId { get; set; }
	[Parameter]
	public int noticeId { get; set; }

	private LectureMaterial body;

	private List<LectureMaterial> lec_mat = new List<LectureMaterial>
	{
		new LectureMaterial {content_id = 1, week = 1, title = "강의자료1", contents = "이것은 내용 1" , author = "조민경", publish_date = new DateTime(2023, 03, 03, 09, 02, 0), view_count = 54 },
		new LectureMaterial {content_id = 2, week = 2, title = "강의자료2", contents = "이것은 내용 2" , author = "조민경", publish_date = new DateTime(2023, 03, 05, 09, 02, 0), view_count = 31 },
		new LectureMaterial {content_id = 3, week = 3, title = "강의자료3", contents = "이것은 내용 3" , author = "조민경", publish_date = new DateTime(2023, 03, 10, 09, 02, 0), view_count = 43 },
		new LectureMaterial {content_id = 4, week = 3, title = "강의자료4", contents = "이것은 내용 4" , author = "조민경", publish_date = new DateTime(2023, 03, 12, 09, 02, 0), view_count = 81 },
		new LectureMaterial {content_id = 5, week = 4, title = "강의자료5", contents = "이것은 내용 5" , author = "조민경", publish_date = new DateTime(2023, 03, 17, 09, 02, 0), view_count = 17 },
	};

	private async Task OnItemClicked(LectureMaterial lm)
	{
		body = lm;
		await Task.CompletedTask;
	}
}
