<h3>AnnouncementList</h3>

<ul>
    @foreach (var notice in Notices)
    {
        <li>
            <a href="#" @onclick="() => ShowNoticeMessage(notice)" class="@((SelectedNotice != null && SelectedNotice.Id == notice.Id) ? "font-bold" : "")">
                @notice.Title
            </a>
        </li>
    }
</ul>
@if (SelectedNotice != null)
{
    <div>
        <h4>@SelectedNotice.Title</h4>
        <p>@SelectedNotice.Content</p>
    </div>
}

@code {
    private List<Notice> Notices = new List<Notice> {
        new Notice { Id = 1, Title = "공지사항1", Content = "내용1" },
        new Notice { Id = 2, Title = "공지사항2", Content = "내용2" },
        new Notice { Id = 3, Title = "공지사항3", Content = "내용3" }
    };
    private Notice SelectedNotice;

    private void ShowNoticeMessage(Notice notice)
    {
        SelectedNotice = notice;
    }

    public class Notice
    {
        public int Id { get; set; }
        public string Title { get; set; }
        public string Content { get; set; }
    }


}




