@inject NavigationManager NavigationManager
@using ClassHub.Client.Shared

<div class="form-group">
    <label for="post-title" style="font-weight: bold;">제목</label>
    <input type="text" class="form-control" id="post-title" placeholder="제목을 입력하세요" @bind="@title">
</div>
<br />

<WeekPicker weekValue="@selectedWeek" allowMultipleSelection=false />
<br />

<div class="form-group">
    <label for="post-content" style="font-weight: bold;">내용</label>
    <textarea class="form-control" id="post-content" rows="10" placeholder="내용을 입력하세요" @bind="@content"></textarea>
</div>
<DragDropUpload />

<br />
<div class="d-flex justify-content-between mb-2">
    <button class="btn btn-success" @onclick="()=>toListMode()">목록</button>
    <button type="submit" class="btn btn-primary" @onclick="()=>toListMode()">등록</button>
</div>

<style>
</style>

@code {
    [Parameter]
    public int id { get; set; }

    [Parameter]
    public LectureMaterial target { get; set; }

    [Parameter]
    public EventCallback<List<int>> ViewChanged { get; set; } //값 변경 시 발생하는 콜백이벤트

    public string title;
    public string content;

    public List<int> selectedWeek = new List<int>() { 1, };

    public int RoomId { get; set; }

    protected override void OnParametersSet() // OninitializedAsync()를 대체함
    {
        if (target != null)
        {
            title = target.Title;
            content = target.Content;
        }
    }

    private async Task toListMode()
    {
        await ViewChanged.InvokeAsync();
    }

    private async Task ClickedSubmit()
    {
        await ViewChanged.InvokeAsync();
    }
}