@inject Microsoft.JSInterop.IJSRuntime JSRuntime
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <button @onclick="Logout">로그아웃</button>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>

    @code {
        private async Task Logout()
        {
            await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "accessToken");
            NavigationManager.NavigateTo("/login");
        }
    }
</div>