@using Blazored.Modal
@using Blazored.Modal.Services
@using ClassHub.Shared
@inject NavigationManager NavigationManager

<style>
    .list-group-item:hover {
        background-color: #f8f9fa;
        cursor: pointer;
    }

    .badge-unread {
        background-color: #dc3545;
    }

    .badge-read {
        background-color: #28a745;
    }
</style>

<div class="container">
    <ul class="list-group">
        @foreach(var notification in notifications) {
            <li class="list-group-item" @onclick="@(() => GoTo(notification.uri))">
                <div class="d-flex justify-content-between align-items-start">
                    <div>
                        <h5 class="mb-1">캡스톤디자인</h5>
                        <p class="mb-1">@notification.message</p>
                        <small>@notification.notify_date</small>
                    </div>
                    <div>
                        @if(Random.Shared.Next(2) % 2 == 0) {
                            <span class="badge badge-pill badge-read">읽음</span>
                        } else {
                            <span class="badge badge-pill badge-unread">안읽음</span>
                        }
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    private List<ClassRoomNotification> notifications = new List<ClassRoomNotification>();

    protected override void OnInitialized() {
        notifications.Add(new ClassRoomNotification { message = "공지사항1이 등록되었습니다.", uri = "classroom/1/notice/11", notify_date = DateTime.Now });
        notifications.Add(new ClassRoomNotification { message = "공지사항2이 등록되었습니다.", uri = "classroom/1/notice/11", notify_date = DateTime.Now });
        notifications.Add(new ClassRoomNotification { message = "공지사항3이 등록되었습니다.", uri = "classroom/1/notice/11", notify_date = DateTime.Now });
        notifications.Add(new ClassRoomNotification { message = "공지사항4이 등록되었습니다.", uri = "classroom/1/notice/11", notify_date = DateTime.Now });
    }

    private void GoTo(string uri) {
        NavigationManager.NavigateTo(uri);
    }
}
