@page "/classroom/{roomid:int}/exam"
@layout MainLayout
@inject NavigationManager NavigationManager
@using ClassHub.Client.Models

<ExamList Exams="Exams" />
<div class="row">
    <div class="col-12">
        <button class="btn btn-success float-end" @onclick="Test2">등록</button>
    </div>
</div>


@code {
    [Parameter]
    public int RoomId { get; set; }

    private List<Exam> Exams;

    protected override void OnInitialized() {
        Exams = new List<Exam>();
        Exams.Add(new Exam() {
            ExamId = 1,
            StartDate = DateTime.Now.AddDays(-2),
            EndDate = DateTime.Now.AddDays(-1),
            IsAttend = true
        });
        Exams.Add(new Exam() {
            ExamId = 2,
            StartDate = DateTime.Now,
            EndDate = DateTime.Now.AddDays(1),
            IsAttend = false
        });
        Exams.Add(new Exam() {
            ExamId = 3,
            StartDate = DateTime.Now.AddDays(1),
            EndDate = DateTime.Now.AddDays(2),
            IsAttend = true
        });
    }

    private void Test() {
        NavigationManager.NavigateTo(NavigationManager.Uri + "/1");
    }

    private void Test2() {
        NavigationManager.NavigateTo(NavigationManager.Uri + "/editor");
    }
}