@page "/classroom/{roomid:int}/exam"
@layout MainLayout
@inject NavigationManager NavigationManager

<h3>ExamListPage</h3>
<button class="btn btn-primary" @onclick="Test">
    응시화면 테스트
</button>
<button class="btn btn-primary" @onclick="Test2">
    시험 등록 화면 테스트
</button>

@code {
    [Parameter]
    public int RoomId { get; set; }

    private void Test() {
        NavigationManager.NavigateTo(NavigationManager.Uri + "/1");
    }

    private void Test2() {
        NavigationManager.NavigateTo(NavigationManager.Uri + "/editor");
    }
}
